body {
    background: #263248;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,div {
    font-family: 'Alegreya Sans', sans-serif;
    color: #FFFFFF;
}
input {
    background: transparent;
    border: 0;
    border-bottom: 1px dashed #FFFFFF;
}
.container {
    margin-bottom: 20px;
}
.row {
    margin: 20px 0 20px 0;
}
.highlight {
    color: #0ca3cd;
}
.track-detail {
    border-bottom: 1px dotted;
}
.track-detail:hover {
    cursor: pointer;
}
.alternate-track {
    margin: -10px;
    padding: 10px;
}
.alternate-track:hover {
    cursor: pointer;
    background: #43597F;
}
@media(min-width: 640px) {
    .center-text {
        text-align: center;
    }
}
.search-button {
    border-radius: 0;
    margin-top: 20px;
    font-size: 24pt;
    background: #263248;
    color: #FFFFFF;
}
.search-button:hover {
    background: #43597F;
    color: #FFFFFF;
}
footer {
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 3px 0 rgba(50, 50, 50, 0.75);
    font-size: 80%
}
footer p {
    margin: 0;
}